@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.rubik{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

body {
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow:scroll;
    position: absolute;
}

.main{
    background-color: #f4f4f4;
    padding: 50px;
    margin: 20px;
    border-radius: 20px;
    font-family: 'Rubik', sans-serif;
    display:grid;
    justify-content: center;
    align-items: center;
    width: 60%;
    overflow:scroll;
    position: absolute;
}

.button {
    background-color: #3d5afe;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
}

.input{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 5px solid white;
    font-size: 14px;
}

#output{
    word-break: break-all;
    margin: 10px;
    display: flex;
}

textarea{
    height: 70px;
    font-family: 'Rubik', sans-serif;
}

#loading{
    outline: none;
    border: none;
    background: #f4f4f4;
    font-family: 'Rubik', sans-serif;
    border-radius: 20px;
    padding: 10px;
    justify-items: center;
}

#loading_img{
    border-radius: 5px;
    margin: 20px;
}